<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wanna Be a PYzillionaire?</title>
</head>

<body>
<p>This is the question bla bla it goes on for a long time bla bla bla asd asd and so on?</p>

<div>
<button id="answer1" class="answer">Placeholder text for answer 1</button>
<button id="answer2" class="answer">Placeholder text for answer 2</button>
<button id="answer3" class="answer">Placeholder text for answer 3</button>
<button id="answer4" class="answer">Placeholder text for answer 4</button>
</div>

</body>

</html>